@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark;
}

:root {
    --navbar-height: 4rem;
    --dock-height: calc(4rem + env(safe-area-inset-bottom));
    /* Use dvh instead of vh for better mobile support */
    --full-viewport: 100dvh;
}

html,
body {
    @apply min-h-screen h-full m-0 p-0 bg-base-200;
    -webkit-text-size-adjust: 100%;
}

/* Dioxus root div class name */
#main {
    height: 100%;
}

/* .mobile-status-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: env(safe-area-inset-top);
    background-color: #000000;
    z-index: 9999;
} */

/* idk how to inline */
.page {
    min-height: calc(var(--full-viewport) - var(--navbar-height));
    height: auto;
    padding-bottom: var(--dock-height);
    /* for loading, make min height, but this needs to grow with scroll */
    /* min-height: calc(var(--full-viewport) - var(--navbar-height) - var(--dock-height)); */
    /* Allow only this div to scroll */
    /* @apply overflow-y-auto;  */
}
